#calendar-container{
    margin-top: 15px;
    position: relative;
}

#loading{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f7f1f0;
    z-index: 10;
}


/* 更改日期顏色 */
.fc .fc-daygrid-day-number, .fc .fc-col-header-cell-cushion{
    font-family: 'Noto Sans TC', sans-serif;
    color: black;
    text-decoration: none;
}

/* 更改事件高度 */
.fc-timegrid-event-harness{
    height: 25px;
}