body{
    background-color: #f7f1f0;
}

#navbar{
    top: 0;
    margin:0;
    max-width: unset;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
}

.navbar-brand{
    font-size:30px;
}

#content{
    position: relative;
}

#loading{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f7f1f0;
    z-index: 10;
}


.container{
    margin-top: 35px;
    width: 600px;
}

a{
    text-decoration: none;
}

.fc .fc-toolbar-title {
    font-size: 16px;
}

.fc-view{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:bisque;
}

.fc-event-time{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

/* 取消背景格線 */
.fc td, .fc th {
    border-style: none !important;
  }

.fc .fc-scrollgrid-liquid{
    border: 0;
}

/* 日期置中 */
.fc .fc-daygrid-day-top{
    justify-content: center;
}

/* 調整日期網格高度 */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    min-height: 0;
}

/* 每個日期游標變pointer */
.fc-day{
    cursor: pointer;

}

/* 更改行事曆背景顏色*/
.fc-scrollgrid{
    background-color:#d0d0d0;
    border-radius: 25px;
    padding: 10px;
}

/* 更改日期顏色 */
.fc .fc-daygrid-day-number, .fc .fc-col-header-cell-cushion{
    font-family: 'Noto Sans TC', sans-serif;
    color: black;
}

/* 星期的padding */
.fc .fc-col-header-cell-cushion{
    padding-top: 5px;
}

/* 時段 */
.description{
    width: 600px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: grey;
}

#time{
    display:flex;
    justify-content: center;
}

.time-category{
    flex: auto;
    width: 100px;
    margin-left: 5px;
    text-align: center;
}

.time-category-slice{
    width: 100px;
    margin-top: 8px;
}

#time-slice{
    cursor: pointer;
}

/* 費用 */
#exspense{
    margin-top: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.exspense-unit{
    margin-left: 30px;
}

/* 預約按鈕 */
.btn{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}

#booking-button{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* 購物車 */
#cartContainer{
    position: relative;
    border-left: 1px solid grey;
}

.btn-close{
    position: absolute;
    left: 0;
}

.cart{
    padding-top: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

#pay{
    display: none;
}

.total-expense{
    margin-bottom: 10px;
}

.background{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

@media(max-width:600px){
    .container, .description{
        width: 360px;
    }
}

@media(max-width:450px){
    .navbar-brand{
        font-size: 20px;
    }
}