body{
    /* background-color: #cfe2f3; */
    background-color: #f7f1f0;
}

.navbar-brand{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    padding-top: 5px;
    font-size: 30px;
}

#customer{
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.customer-picture{
    width: 100px;
    border-radius: 50px;
}

.customer-info{
    width: 360px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    padding-top: 5px;
    font-size: 20px;
}

#customer-btn{
    margin-top: 25px;
    width: 340px;
}

/* 消費紀錄 */
.customer-booked-record{
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    background-color: #E0E0E0;
    margin-top: 15px;
    border-radius: 10px;
}

.booked-total-price, .booked-total-times{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    justify-content: center;
}

.total-price, .total-times{
    width: 160px;
}

@media(max-width:420px){
    .navbar-brand{
        font-size: 20px;
    }
}