/* body{
    background-color: #C3A6A0;
} */

#slogan-container, #line-description, #merchant-changing-info, #merchant-calendar-info{
    background-color: #C3A6A0;
}

#merchant-setting-info, #merchant-order-info{
    background-color:#D0B9B4;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-brand{
    font-family: "Microsoft Jhenghei";
    font-weight: bold;
    padding-top: 5px;
    font-size: 30px;
}


.start-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.slogan{
    font-family: "Microsoft Jhenghei";
    font-weight: bold;
    padding-top: 130px;
    font-size: 40px;
    text-align: center;
}

.line-icon{
    width: 45px;
    margin-left: 5px;
    box-shadow: 8px 8px 5px rgb(0,0,0,0.2);
}

#btn-literal{
    font-family: "Microsoft Jhenghei";
    font-size: 30px
}

#line-description, #merchant-setting-info, #merchant-changing-info, #merchant-calendar-info, #merchant-order-info{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    height: 524px;
}

.line-info, .setting-info, .changing-info, .calendar-info, .order-info{
    font-family: "Microsoft Jhenghei";
    font-weight: bold;
    padding-top: 50px;
    padding-left: 60px;
    font-size: 30px;
    flex: none;
    width: 50%;
}

.line-gif-container, .setting-img-container{
    flex: none;
    width: 50%;
}

.line-gif{
    width: 150px;
    border-radius: 5px;
    box-shadow: 15px 15px 5px rgb(0,0,0,0.2);
}

.setting-img{
    width: 650px;
    border-radius: 5px;
    box-shadow: 15px 15px 5px rgb(0,0,0,0.2);
}

.setting-subtitle, .changing-subtitle{
    font-family: "Microsoft Jhenghei";
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
}

.changing-gif-container{
    width: 650px;
}

.footer{
    display: flex;
    height: 104px;
    justify-content: center;
    background-color: #AA7052;
}

.footerContent{
    flex: none;
    line-height: 104px; 
    font-family: "Microsoft Jhenghei";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}