body{
    /* background-color: #f4f4f4 */
    background-color: #f7f1f0;
}

.navbar-brand{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    padding-top: 5px;
    font-size: 30px;
}

.navbar{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
}

#line-setting{
    position: relative;
    margin-top: 20px;
}

#logout{
    cursor: pointer;
}

#loading{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* background-color: #cfe2f3; */
    background-color: #f7f1f0;
    z-index: 10;
}