body{
    background-color: #f7f1f0;
    font-family: "Microsoft Jhenghei";
}

.navbar-brand{
    font-weight: 900;
    padding-top: 5px;
    font-size: 30px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
}

#main-navbar{
    border-bottom: 1px solid gray;
}

#sub-navbar{
    font-size: 16px;
    height: 25px;
}
