#table-container{
    margin-top: 25px;
}

td{
    line-height: 54px;
}

#table-container{
    position: relative;
}

#loading{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f7f1f0;
    z-index: 10;
}