body{
    background-color: #f7f1f0;
}

.navbar-brand{
    font-family: "Microsoft Jhenghei";
    font-weight: 900;
    padding-top: 5px;
    font-size: 30px;
}

.navbar{
    font-family: "Microsoft Jhenghei";
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
}

#site-map{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Microsoft Jhenghei";
    font-weight: 300;
    margin-top: 100px;
}

.card{
    width: 35rem;
    margin-left: 50px;
    margin-right: 30px;
    background-color: #FFA998;
    box-shadow: 20px 15px 5px rgb(0,0,0,0.2);
}

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(0, -5px);
    transition: all 0.3s ease;
}

h6{
    font-size: 20px;
}

.about-line, .about-time-setting{
    margin-top: 10px;
    font-size: 18px;
}

#redirect-store-setting, #link-to-line, #store-time-setting, .redirect-schedule{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.redirect-schedule{
    cursor: pointer;
    text-decoration: underline;
}