/* #main-navbar{
    border-bottom: 1px solid gray;
}

#sub-navbar{
    font-size: 16px;
    height: 25px;
} */

.nav-items{
    display: flex;
    justify-content: left;
}

#url{
    margin-top: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}


#schedule-side-bar{
    margin-top: 20px;
}

#v-pills-tab{
    background-color: #fafafa;
    border-radius: 10px;
}

.price{
    margin-top: 10px;
}

label.general {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input.general {
    display: inline-block;
}

.general{
    margin-top: 10px;
}

#v-pills-profile{
    position: relative;
}

.time-select-slice, .time-select-booking, .time-cancel{
    height: 29px;
}

.time-select-1{
    display: block;
}

.time-select-2{
    display: none;
}

.create-time-period{
    position: absolute;
    border: 1px;
    border-radius: 25px;
    right: 30px;
    width: 80px;
    cursor: pointer;
    /* background-color: #0d6efd; */
    background-color: #A15c38;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
}

.deposit{
    display: none;
}

.update{
    width: 80px;
    border: 1px;
    border-radius: 25px;
    margin-top:30px;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    height: 32px;
    text-align: center;
}

#updating{
    display: none;
    width: 80px;
    border: 1px;
    border-radius: 25px;
    margin-top:30px;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    height: 32px;
    text-align: center;
}

@media(max-width:510px){
    .navbar-brand{
        font-size: 20px;
    }
}